body{
    background-color: rgb(47, 79, 79);
    color: white;
}

h1{
    display: block;
    text-align: center;
}

#myDiv{
    width: 350px;
    height: 100px;
    background-color: hsl(190,100%,4.71%);
    margin: auto;
    margin-top: 10%;
    border: 20px solid hsl(190,100%,4.71%);
    border-radius: 20px;
}

h3{
    display: block;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 3px #e700c1, 0 0 5px #f8e802;
}

button{
    border-radius: 7px;
    background-color: aliceblue;
    font-size: 20px;
    
}

input{
    
    border: 1px solid;
    border-radius: 5px;
    margin-left: 28%; 
    
}
